# Build results
[Dd]ebug/
Release/
OpenGL/

# Dependencies
dependencies/
src/external/

# Binaries
**/bin/
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# ImGui files
imgui.ini